body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#page-spinner{
  animation: spin 1s linear infinite;
  text-align: center;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 100px !important;
}
#button-spinner{
  animation: spin 1s linear infinite;
  margin: 0;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
  }
}

input#new-post{
  padding-left: 12px !important;
}
button#post-button{
  margin-right: -14px;
}


#reply-form .field{
  padding-right: 0;
}

#reply-form .field button{
  margin-top: 14px;
}
@media screen and (min-width: 768px){
  #reply-form .field button{
    margin-left: 14px;
    margin-top: 0px;
  }
}